body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url("./cards/backgnd.jpeg");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-clip: content-box;
    background-attachment: scroll;
}
#dealer-cards img{
    height: 170px ;
    width: 110px;
    margin: 1px;
}
#player-cards img{
    height: 170px;
    width: 110px;
    margin: 1px;
}
#hit{
    height: 50px;
    width: 100px;
    font-size: 20px;
    border-radius: 15px;
}
#double{
    height: 50px;
    width: 100px;
    font-size: 20px;
    border-radius: 15px;
}
#wager{
    height: 50px;
    width: 150px;
    font-size: 20px;
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 50px;
}
/* #deal{
    height: 50px;
    width: 150px;
    font-size: 20px;
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
} */
#stay{
    height: 50px;
    width: 100px;
    font-size: 20px;
    border-radius: 15px;
}