body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url("./cards/bg1-transformed.webp");
    background-repeat: repeat;
    background-size: 100vw;
    background-clip: content-box;
    background-attachment: scroll;
}
#dealer-cards img{
    height: 170px ;
    width: 110px;
    margin: 1px;
}
#player-cards img{
    height: 170px;
    width: 110px;
    margin: 1px;
}
#hit{
    height: 50px;
    width: 100px;
    font-size: 20px;
    margin: 5px;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%  ;
}
#double{
    height: 50px;
    width: 100px;
    font-size: 20px;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%  ;
    margin: 5px;
}
#wager{
    height: 50px;
    width: 150px;
    font-size: 20px;
    border-radius: 25px;
    margin: 5px;
}
#deal{
    align-items: center;
    height: 50px;
    width: 150px;
    font-size: 20px;
    border-radius: 25px;
    margin: 5px;
    margin-right: 6px;
}
#stay{
    height: 50px;
    width: 100px;
    font-size: 20px;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    margin: 5px;
}
#insurance{
    height: 50px;
    width: 150px;
    margin-right:  0px;
    font-size: 20px;
    border-radius: 25px;
}
.insurance_button{
    display: flex;
    justify-content: left;
    height: 50px;
    width: 24%;
    margin-right:  0px;
    font-size: 20px;
}
.buttons_all{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 50px;
    width: 100%;
}
.all{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 75px;
    height:  50px;
    width: 50%;
}
.info{
    height : 100px;
    width : auto;
    color: aliceblue;
    font-size : 30px;
    margin-left: 50px;
    margin-top: 5px;
}